<h1>Covid Viewing</h1>

<section class="description">
  <p>Welcome to Covid Viewing! Your favorite site for finding your next covid watch party movie, and scheduling a time to watch it with all your friends!</p>
</section>
